@page "/chat"
@using SEP3.Model
@using Syncfusion.Blazor.Inputs
@using SEP3.Auth
@using SEP3.Data
@using System.Collections

@inject ICloudMessageService CloudMessageService;
@inject ICloudUserService CloudUserService;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;

<h3>Create a conversation</h3>

@if (Users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    
    <div>
        <input type="text" value="@searchFilter" @oninput="@FilterChangedAsync" placeholder="Search here..."/>
    </div>
    <div class="mt-4">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <AuthorizeView Policy="MustBeLoggedIn">
                    <Authorized>
                        <th>Action</th>
                    </Authorized>
                </AuthorizeView>
            </tr>
            </thead>
            <tbody>
            @foreach (var pair in Users)
            {
                Console.WriteLine(pair.Split(" ")[0]);
                <tr>
                    <td>@pair.Split(" ")[0]</td>
                    <td>@(pair.Split(" ")[1] + " " + pair.Split(" ")[2])</td>
                    <td>
                        <span class="btn btn-danger" href="@("/message/" + pair.Split(" ")[0])">New Chat</span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {
    public string type;
    public string searchFilter = "";
    public List<String> Users = new List<String>();

    protected async override Task OnInitializedAsync()
    {
        type = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[1].Value;
        if(type.Equals("patient"))
            Users = await CloudUserService.getUsersByType("doctor");
        else
            Users = await CloudUserService.getUsersByType("patient");
    }

    public async Task Search(string searchTerm)
    {
        Users = Users.Where(a => (a.Split(" ")[1] + " " + a.Split(" ")[2]).StartsWith(searchTerm.ToLower())).ToList();
    }

    public async Task FilterChangedAsync(ChangeEventArgs args)
    {
        searchFilter = args.Value.ToString().Trim();
        Search(searchFilter);
    }

    public void OpenChat(string pair)
    {
        NavigationManager.NavigateTo("/message/" + pair.Split(" ")[0]);
    }

}