@page "/manage/{id}"
@using SEP3.Data
@using SEP3.Model
@attribute [Authorize(Roles = "manager", Policy = "MustBeLoggedInAsValidated")]

@inject ICloudHospitalService CloudHospitalService
@inject NavigationManager NavigationManager


@if (hospitals == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container-fluid horizontal-scrollable py-2 pt-4">
        <h2>Your Hospitals</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            @foreach (var hospital in hospitals)
            {
                string pageCont = "/manage/" + id;
                <div class="col-xs-4">
                    <HomeHospitalComponent imgSource='/images/weed.jpg' name="@hospital.name" address="@hospital.address" info="@hospital.info" postalCode="@hospital.postalCode" id="@hospital.id.ToString()" page="@pageCont"></HomeHospitalComponent>
                </div>
            }
        </div>
    </div>
}


@code {
    [Parameter]
    public string id { get; set; }
    
    public List<Hospital> hospitals = new List<Hospital>();

    protected override async Task OnInitializedAsync()
    {
        int i = Int32.Parse(id);
        hospitals = await CloudHospitalService.GetAllHospitalsForManager(i);
    }
}